body
{
    background-color: rgb(243, 200, 222);
    color: black;
}
.Container
{
    border: 2px solid black;
    height: 400px;
    width: 300px;
    background-position: top center;
    background-image:url(MyImage.jpg);
    opacity: 50%;
}
img
{
    width: 300px;
    height: 400px;
    object-fit: fill;
    object-position: top right;
}