body
{
    background-color: rgb(243, 200, 222);
    color: black;
}
.Red
{
    background-color: rgb(186, 120, 120);
}
/*#FirstDiv
{
    background-color: rgb(124, 124, 181);
}*/
.Bg-Yellow
{
    color: blue;
}